extends ../layout/page
include ../mixins/mixins

block title
    | about-us

block content
    section.section_pb
        .container
            .row
                .col-12
                    h1.title-h1.title-h1_mb_sm About us
                    img.img-respond(src="https://picsum.photos/1110/500?image=405" alt="")

                    .inner
                        h2.title-h2.title-h2_mob_s_18.title-h2_mb_mid.text-left  California Azerbaijan Friendship Association

                        p On December 20, 2017 the California Azerbaijan Friendship Association (CAFA) - the first ever organization uniting the vibrant Azerbaijani community of the US State of California as well as friends of Azerbaijan - was established with a large official launch event in Los Angeles.
                        p The event was attended by members of the Azerbaijani community as well as California’s elected officials, foreign diplomats, faith leaders, mass media representatives, scientists (including Nobel Prize Winner in Chemistry Arieh Warshel), leaders of Jewish, Turkish, Pakistani, Iranian, Korean, Vietnamese, Hispanic and other communities.
                        p After national anthems of both countries were performed, CAFA’s Executive Director Kimiya Mammadova presented the new organization. Mentioning the two successful regional Azerbaijani community organizations such as the Azerbaijan Cultural Society of Northern California and the Azerbaijani Cultural Society of America, which have been operating in the northern regions of California, Mrs. Mammadova expressed her hope that CAFA would benefit from the experience of these organizations over the years to come. Speaking of the goals of CAFA, the Executive Director noted that the Association would be working towards establishing stronger cultural, educational, humanitarian, trade and other significant relations between California and Azerbaijan. “Our organization intends to become the voice of the Azerbaijani community, reaching out to elected officials, government, business, faith and community leaders and nurturing mutually beneficial relationships,” Mammadova said. Noting that “CAFA will be operating based on individual and corporate donations and will be fully accountable and transparent before its members,” she presented the association’s Executive Board and expressed gratitude to the sponsors of the inaugural event – Azerbaijani community activists Pari Howard, Pirouz Khanlou, Amir Allahverdi, as well as companies LT Scientific and Cal State HVAC.

                        .share
                            .share-text
                                p Share this
                            .share-icon
                                a(href="")
                                    +svg('soc-block__inner soc-block__inner_facebook','facebook')
                                a(href="")
                                    +svg('soc-block__inner soc-block__inner_twitter','twitter')
                                a(href="")
                                    +svg('soc-block__inner soc-block__inner_whatsapp','whatsapp')
                                a(href="")
                                    +svg('soc-block__inner soc-block__inner_envelope','envelope')
                                a(href="")
                                    +svg('soc-block__inner soc-block__inner_share','share')