extends ../layout/main
include ../mixins/mixins

block title
    | index

block content
    include ../sections/upcoming-events
    include ../sections/job-posts-section
    include ../sections/subscribe
    include ../sections/news-section