extends ../layout/page
include ../mixins/mixins

block title
    | media photo

block content
    section.section_pb
        .container

            h1.title-h1.title-h1_mb_sm Media

            .row.row_mb.justify-content-center
                each val in [1, 2, 3]
                    .media-item
                        a(href="http://www.youtube.com/watch?v=AUuHyXguUsg").media-item__anchor.media-video-magnific
                            img.media-item__object(src="https://picsum.photos/300/300?image=579" alt="#")
                            +svg('media-item__icon','play-solid')
                    .media-item
                        a(href="https://picsum.photos/1000/800?image=582").media-item__anchor.media-photo-magnific
                            img.media-item__object(src="https://picsum.photos/300/300?image=582" alt="#")
                            +svg('media-item__icon','zoom-plus')
                    .media-item
                        a(href="https://www.youtube.com/watch?v=AUuHyXguUsg").media-item__anchor.media-video-magnific
                            img.media-item__object(src="https://picsum.photos/300/300?image=579" alt="#")
                            +svg('media-item__icon','play-solid')
                    .media-item
                        a(href="https://picsum.photos/1000/800?image=582").media-item__anchor.media-photo-magnific
                            img.media-item__object(src="https://picsum.photos/300/300?image=582" alt="#")
                            +svg('media-item__icon','zoom-plus')


            ul.pagination-list
                li.pagination-list__item.pagination-list__item_dirrect
                    a(href="#").pagination-list__item-link
                        +svg('pagination-list__icon', 'double-arrow')

                li.pagination-list__item
                    a(href="#").pagination-list__item-link.active 1

                each val in [2, 3, 4, 5, 6]
                    li.pagination-list__item
                        a(href="#").pagination-list__item-link=val

                li.pagination-list__item.pagination-list__item_dirrect
                    a(href="#").pagination-list__item-link
                        +svg('pagination-list__icon pagination-list__icon_rt', 'double-arrow')

            ul.pagination-list
                li.pagination-list__item.pagination-list__item_dirrect
                    a(href="#").pagination-list__item-link
                        +svg('pagination-list__icon', 'double-arrow')

                li.pagination-list__item
                    a(href="#").pagination-list__item-link.active 1

                each val in [2, 3, 4, 5, 6]
                    li.pagination-list__item
                        a(href="#").pagination-list__item-link=val

                li.pagination-list__item.pagination-list__item_dirrect
                    a(href="#").pagination-list__item-link
                        +svg('pagination-list__icon pagination-list__icon_rt', 'double-arrow')