// colors
$color: #111B6E;
$orange: #FF6955;

$dark-color: #29B069;
$darkest-color: #279E5F;
$dark-color: #555;

$link-color: #111B6E;
$link-hover-color: #2c80b9;
$critical-color: #EB4D4B;

// fonts
$font: "Roboto-Regular", Arial, Helvetica, sans-serif;
$font-bold: "Roboto-Bold", Arial, Helvetica, sans-serif;
$font-medium: "Roboto-Medium", Arial, Helvetica, sans-serif;
$font-bold-montserrat: "Montserrat-Bold", Arial, Helvetica, sans-serif;
$font-medium-montserrat: "Montserrat-Medium", Arial, Helvetica, sans-serif;

//$font-medium:

//$font-italic: "HelveticaNeue-Italic", Arial, Helvetica, sans-serif;
//$font-light: "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
