include ../mixins/mixins

header.header.header_mod-mainX
    .container
        .row
            .col-xl-12
                //.menu-block
                    .logo
                        img.logo__img(src="img/logo.png")

                    include ../components/menu
