
.container.section.section_mb-mid.background-mails
    .row.justify-content-center
        .col-8
            .header-block.header-block_mb
                h2.title-h2.title-h2_mb.title-h2_uppercase SuBSCrIBE to our NEwSLETTER

            form.form-area
                input.form-area__input(type="text" placeholder="Your email adress")
                button.form-area__submit(type="submit") JOIN NOW
