.soc-block
    a(href="#").soc-block__item
        +svg('soc-block__icon soc-block__icon_facebook', 'facebook')
    a(href="#").soc-block__item
        +svg('soc-block__icon soc-block__icon_twitter', 'twitter')
    a(href="#").soc-block__item
        +svg('soc-block__icon soc-block__icon_linkedin', 'linkedin')
    a(href="#").soc-block__item
        +svg('soc-block__icon soc-block__icon_google', 'google')
    a(href="#").soc-block__item
        +svg('soc-block__icon soc-block__icon_youtube', 'youtube')